{extends "base.html"}

{block "content_header"}
<div class="row">
	<div class="span3">
		<p class="t-center"><a href="{$U_INDEX}"><img src="//ivacuum.org/i/up/logo.png" alt=""></a></p>
		<h3>{'UPLOADED_TODAY'|i18n}</h3>
		<p><img src="//ivacuum.org/i/_/image_plus.png" alt=""> {$TODAY_IMAGES|number_format}</p>
		<h3>{'TOTAL_IMAGES'|i18n}</h3>
		<p><img src="//ivacuum.org/i/_/images.png" alt=""> {$TOTAL_IMAGES|number_format}</p>
		<h3>{'TOTAL_IMAGES_VIEWS'|i18n}</h3>
		<p><img src="//ivacuum.org/i/_/eye.png" alt=""> {$IMAGE_VIEWS|number_format}</p>
		<h3>{'TOTAL_IMAGES_SIZE'|i18n}</h3>
		<p><img src="//ivacuum.org/i/_/chart_pie.png" alt=""> {$TOTAL_SIZE|humn_size}</p>
		<h3>{'BANDWIDTH_USED'|i18n}</h3>
		<p><img src="//ivacuum.org/i/_/traffic_light.png" alt=""> {$TOTAL_TRAFFIC|humn_size}</p>
	</div>
	<div class="span9">
		{block "breadcrumbs"}
			{include "block/breadcrumbs.html"}
		{/block}
{/block}

{block "content_footer"}
	</div>
</div>
{/block}