{extends "images_base.html"}

{block "content"}
<div class="page-header">
	<h2>{$page.page_title}</h2>
</div>

{if not empty($upload_errors)}
	<div class="alert-message" data-alert="alert">
		<a class="close" href="#">&times;</a>
		<p><strong>В процессе загрузки произошли ошибки.</strong> Не удалось загрузить файлов: {$FILES_NOT_UPLOADED}.</p>
		<br>
		{foreach $upload_errors as $row}
			{if empty($row.ERRORS)}
				{continue}
			{/if}
			<h4>{$row.FILE}</h4>
			<ul>
				{foreach $row.ERRORS as $row2}
					<li>{$row2}</li>
				{/foreach}
			</ul>
		{/foreach}
	</div>
{/if}

<div id="links_container">
{if $FILES_UPLOADED >= 1}
	{if $FILES_UPLOADED >= 2}
		<h3>Ссылки на все картинки</h3>
		<p>
			Ссылка:
			<br><textarea class="span9" style="height: {$FILES_UPLOADED * 20}px;">{foreach $files as $row}http://img.ivacuum.ru/g/{$row.DATE}/{$row.REALNAME}{if not $row@last}&#10;{/if}{/foreach}</textarea>
			<br>Полная картинка:
			<br><input type="text" class="span9" value="{foreach $files as $row}[img]http://img.ivacuum.ru/g/{$row.DATE}/{$row.REALNAME}[/img] {/foreach}">
			{if $THUMB}
				<br>Превью - увеличение по клику:
				<br><input type="text" class="span9" value="{foreach $files as $row}[url=http://ivacuum.ru/галерея/просмотр/{$row.ID}.html][img]http://img.ivacuum.ru/g/{$row.DATE}/s/{$row.REALNAME}[/img][/url] {/foreach}">
			{/if}
		</p>
	{/if}
	
	<h3>Индивидуальные ссылки</h3>
	{foreach $files as $row}
		<div class="row">
			<div class="span2">
				<div class="thumbnail"><img src="//img.ivacuum.ru/g/{$row.DATE}/t/{$row.REALNAME}" alt=""></div>
			</div>
			<div class="span7"><p>
				Ссылка:
				<br><input type="text" class="span7" value="http://img.ivacuum.ru/g/{$row.DATE}/{$row.REALNAME}">
				<br>Полная картинка:
				<br><input type="text" class="span7" value="[img]http://img.ivacuum.ru/g/{$row.DATE}/{$row.REALNAME}[/img]">
				{if $THUMB}
					<br>Превью - увеличение по клику:
					<br><input type="text" class="span7" value="[url=http://ivacuum.ru/галерея/просмотр/{$row.ID}.html][img]http://img.ivacuum.ru/g/{$row.DATE}/s/{$row.REALNAME}[/img][/url]">
				{/if}
			</p></div>
		</div>
	{/foreach}
{/if}
</div>

<script>
$(document).ready(function() {
	$('#links_container input[type=text], #links_container textarea').bind('click', function() {
		highlight(this);
	});
});
</script>
{/block}