{extends "images_base.html"}

{block "content"}
<h2>{$page.page_title}</h2>

<div class="row">
	<div class="span2">
		<h4>В локальной сети</h4>
		<p><img src="//ivacuum.org/i/_/network_ethernet.png" alt=""> {$LOCAL_VIEWS|number_format}</p>
	</div>
	<div class="span2">
		<h4>В сети интернет</h4>
		<p><img src="//ivacuum.org/i/_/globe_green.png" alt=""> {$INTERNET_VIEWS|number_format}</p>
	</div>
</div>

<br>

<table class="table-stats ui-shadow-light">
	<thead>
	<tr>
		<th class="number">#</th>
		<th>Домен</th>
		<th class="number">Просмотров <img src="//ivacuum.org/i/_/arrow_270.png" alt=""></th>
	</tr>
	</thead>
	{foreach $referers as $row}
		<tr>
			<td class="number">{$row@iteration}</td>
			<td><a href="http://{$row.DOMAIN}">{$row.DOMAIN}</a> <img src="//ivacuum.org/i/_/external.png" alt=""></td>
			<td class="number">{$row.VIEWS|number_format}</td>
		</tr>
	{/foreach}
</table>
{/block}