<!DOCTYPE html>
<html dir="{S_LANGUAGE_DIRECTION}" lang="{S_LANGUAGE}">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="copyright" content="{S_YEAR} vacuum" />
<meta name="keywords" content="" />
<meta name="description" content="" />
{META}
<title>{PAGE_TITLE} &mdash; up.ivacuum.ru</title>
<link rel="shortcut icon" href="{P_IMAGES}/_/drive_upload.png" />
<link rel="stylesheet" href="{P_IMAGES}/up/style.css?mtime={S_STYLE_MTIME}">
<link rel="stylesheet" href="{P_JS}/jqueryui/1.8.5/themes/smoothness/jquery.ui.theme.css" />
<link rel="stylesheet" href="{P_JS}/jqueryui/1.8.5/themes/smoothness/jquery.ui.core.css" />
<link rel="stylesheet" href="{P_JS}/jqueryui/1.8.5/themes/smoothness/jquery.ui.button.css" />
<link rel="stylesheet" href="{P_JS}/jqueryui/1.8.5/themes/smoothness/jquery.ui.autocomplete.css" />
<script type="text/javascript" src="{P_JS}/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="{P_JS}/jqueryui/1.8.11/jquery.ui.button.min.js"></script>
<script type="text/javascript" src="{P_JS}/jqueryui/1.8.11/jquery.ui.autocomplete.min.js"></script>
</head>
<body class="{S_LANGUAGE_DIRECTION}" id="document_body">
<div id="layout">
	<div id="header">
		<p id="logo">
			<a href="{U_INDEX}"><img src="{P_IMAGES}/up/{LOGO}.png" alt="" /></a>
		</p>
		<div id="navigation">
			<!-- if MODE eq 'images' -->
			<span class="item selected selected_corner_ff9c24 shadow-light ui-corner-all"><span class="pseudo_link">{L_IMAGES}</span></span>
			<!-- else -->
			<span class="item"><span class="pseudo_link"><a href="{U_IMAGES_UPLOAD}">{L_IMAGES}</a></span></span>
			<!-- endif -->
			<!-- if S_ACP -->
			<!-- if MODE eq 'dcpp' -->
			<span class="item selected selected_corner_ff9c24 shadow-light ui-corner-all"><span class="pseudo_link">{L_DCPP_CLIENTS}</span></span>
			<!-- else -->
			<span class="item"><span class="pseudo_link"><a href="{U_DCPP_UPLOAD}">{L_DCPP_CLIENTS}</a></span></span>
			<!-- endif -->
			<!-- if MODE eq 'help' -->
			<span class="item selected selected_corner_ff9c24 shadow-light ui-corner-all"><span class="pseudo_link">{L_FEEDBACK}</span></span>
			<!-- else -->
			<span class="item"><span class="pseudo_link"><a href="{U_HELP_UPLOAD}">{L_FEEDBACK}</a></span></span>
			<!-- endif -->
			<!-- endif -->
			<span class="item"><span class="pseudo_link"><a href="{U_BACK_TO_GALLERY}">{L_BACK_TO_GALLERY}</a></span></span>
		</div>
	</div>
	<div id="content">