	</div>
</div>
<div id="footer">
	<ins class="footer_decor"></ins>
	<p class="copyright">&copy; {S_YEAR} V@cuum</p>
</div>
<!-- if S_INTERNET and not S_BOT -->
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<img src='http://counter.yadro.ru/hit?r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' width=1 height=1 alt=''>")//--></script><!--/LiveInternet-->
<!-- endif -->
</body>
</html>